.base-button {
    border: 2px solid transparent
    ;
    border-radius: 30px; 
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-text);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%; 
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.primary {
    background-color:var(--color-botton2); 
    box-shadow: 0px 4px 15px rgba(160, 32, 240, 0.4);
}

/* Variante Morado Oscuro (como el de Series) */
.secondary {
    background-color: #4B0082; /* Morado más profundo */
}

/* Efecto de pulsación */
.base-button:active {
    transform: scale(1);
    opacity: 0.9;
}

.base-button:focus {
    outline: none;
}
.base-button:hover {
    box-shadow: 0px 6px 20px var( --color-botton3);
}

